<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head')  %> 

<body>
    <%- include('./partials/header')  %> 

    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="<%= posteo.foto %> " alt="">
                <div class="info-usuario">
                    <p><%= posteo.nombre %> </p> 
                    <a class="follow" href="">seguir</a>
                    <ul class="meta">
                        <li>  </li>
                        <li>  </li>
                        <li>  </li>
                    </ul>
                </div>
            </section>


            
            <section class="bottom">
                <% for (let i =0, i<posteos.length, i++){ %> 
                <article class="post">
                    <a href="/posts/detallePost/:id">
                        <img src="<%= posteos[i].foto %> " alt="">
                    </a>
                </article>
                <% } %> 
                
            </section>
        </div>
    </main>

    <%- include('./partials/footer')  %> 
</body>

</html>