<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head')  %> 

<body>
    <%- include('./partials/header')  %> 
    <main>
        <div class="post-detail container">
            <section class="center main-content post">
                <div class="info-usuario">
                    <img src="/img/usuarios/<%= posteo.usuario.img %>" alt="">
                    <p><a href="/users/detalleUsuario/<%= posteo.usuario.id %> "><%= posteo.usuario.nombre %></a></p>
                </div>
                <img class="photo" src="/img/posts/<%= posteo.imagen %>" alt="">
            </section>
            <section class="right">
                <h4>Comentarios</h4>
                <% if(locals.user) { %>
                    <% if(locals.user.id == posteo.usuario_id) { %>
                        <a href="/post/eliminarPost/<%= posteo.id %>">eliminar</a>
                        <a href="/post/eliminarPost/<%= posteo.id %>">editar</a>
                    <% } %>
                <% } %>
                <section class="comments">
                    <form action="" class="comment-form">
                        <input type="text" class="input" placeholder="Agregar comentario">
                        <button type="submit">Comentar</button>
                    </form>
                    <div>
                    <% for( let i = 0; i < posteo.comentarios.length; i++ ) { %>
                        <article class="comment">
                            <img src="/img/usuarios/<%= posteo.comentarios[i].usuario.img %> " alt="">
                            <section class="content">
                                <a class="user" href="/users/detalleUsuario/<%= posteo.comentarios[i].usuario.id %> "><%= posteo.comentarios[i].usuario.nombre %></a>
                                <span class="text"><%= posteo.comentarios[i].comentario %></span>
                            </section>
                        </article>
                    <% } %>
                    </div>
                </section>
            </section>
        </div>
    </main>

    <%- include('./partials/footer')  %> 
</body>

</html>