<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head')  %> 

<body>
    <%- include('./partials/header')  %> 

    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="/img/usuarios/<%= perfil.img %> " alt="">
                <div class="info-usuario">
                    <p><%= perfil.nombre %> </p> 
                    <a class="follow" href="/users/editarPerfil/0"><i class="fa-solid fa-user-gear"></i></a>
                    <ul class="meta">
                        <li>Posteos: <%= perfil.posteos.length %> </li>
                        <li>Seguidores: <%= perfil.misSeguidores.length %> </li>
                        <li>Seguidos: <%= perfil.misSeguidos.length %> </li>
                    </ul>
                </div>
            </section>


            <section class="bottom">
                <% for(let i = 0; i < perfil.posteos.length; i++) { %>
                <article class="post">
                    <a href="/post/detallePost/<%= perfil.posteos[i].id %> ">
                        <img src="/img/posts/<%= perfil.posteos[i].imagen %> " alt="">
                        <p><%= perfil.posteos[i].comentario %> </p>
                    </a>
                </article>
                <% } %>
            </section>
        </div>
    </main>

    <%- include('./partials/footer')  %> 
</body>

</html>