<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head')  %> 

<body>
    <%- include('./partials/header')  %> 

    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="<%= data.foto %> " alt="">
                <div class="info-usuario">
                    <p><%= data.nombre %> </p> 
                    <a class="follow" href="/users/editarPerfil/0"><i class="fa-solid fa-user-gear"></i></a>
                    <ul class="meta">
                        <li><%= data.posteos %> </li>
                        <li><%= data.seguidores %> </li>
                        <li><%= data.seguidos %> </li>
                    </ul>
                </div>
            </section>


            <section class="bottom">
                <article class="post">
<<<<<<< HEAD
                    <a href="/post/detallePost">
                        <img src="https://via.placeholder.com/200x250" alt="">
                        <p>Texto del post</p>
=======
                    <a href="/post/detallePost/<%= posteos[0].idPosteo %> ">
                        <img src="<%= posteos[0].post %> " alt="">
                        <p><%= posteos[0].texto %> </p>
                    </a>
                </article>

                <article class="post">
                    <a href="/post/detallePost/<%= posteos[1].idPosteo %> ">
                        <img src="<%= posteos[1].post %> " alt="">
                        <p><%= posteos[1].texto %> </p>
>>>>>>> d1580bef401ced0c1b9bb19658eb6065bfd9cc5c
                    </a>
                </article>
                
            </section>
        </div>
    </main>

    <%- include('./partials/footer')  %> 
</body>

</html>